<main>
    {{#each dados}}

    <h1>{{nome}} {{sobrenome}}</h1>
    <h2>Profissão: {{profissao}}</h2>
    <h3>{{email}} | Data de nascimento {{data_nasc}}</h3>

    <p>{{informacao}}</p>
<hr>
    {{/each}}

</main>